* {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 25px;
  color: rgb(247, 111, 54);
  font-weight: 700;
}
.textCard {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: flex;
}
.titleCard {
  font-size: 15px;
  color: rgb(247, 111, 54);
  font-weight: 700;
  margin-left: 5px;
}
.subtitle {
  font-size: 16px;
  color: rgba(243, 195, 140, 0.918);
}
.normalText {
  font-size: 15px;
  color: rgb(63, 69, 95);
  margin-left: 5px;
}
.dropDown {
  /* outline: solid 2px red; */
  height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 7px 7px 7px rgb(148, 148, 148);
}
.dropDown123 {
  /* outline: solid 2px red; */
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.text {
  position: -webkit-sticky !important;
  position: fixed !important;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  z-index: 10000000;
}
.dropDown::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex !important;
  justify-content: space-around !important;
  background-color: rgb(226, 226, 226);
  height: 135px;
}

.companyCard {
  display: flex !important;
  justify-content: space-around !important;
  background-color: rgb(226, 226, 226);
  height: 400px !important;
  border: 2px rgb(63, 69, 95) solid;
  border-radius: 20px;
  margin-top: 50px;
}
.aplication {
  box-shadow: 7px 7px 7px rgb(148, 148, 148);
  height: auto;
  background-color: rgb(255, 255, 255);
}

.btngrad {
  background-image: linear-gradient(
    to right,
    #fcfcfc 0%,
    #ffffff 51%,
    #ffffff 100%
  );
}
.btngrad {
  /* margin: 10px;
  padding: 15px 45px; */
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: auto;
  color: rgb(63, 69, 95);
  font-weight: bolder;
  font-size: 15px;

  /* border-radius: 10px; */
  /* display: block; */
}

.btngrad:hover {
  background-position: right center; /* change the direction of the change here */
  color: white;
  text-decoration: none;
  font-weight: bolder;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
}
.btngrad:focus {
  /* background-position: right center; /* change the direction of the change here */
  /* color: #fff;
  text-decoration: none; */
  border: none !important;
  color: white;
  font-weight: bolder;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  box-shadow: none;
}

.company {
  padding: 0 !important;
  margin: 0 !important;
}
.about {
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.description {
  /* outline: 2px solid red; */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.img {
  height: 100px;
  width: 150px;
  border: 2px rgb(63, 69, 95) solid;
}

.card2 {
  border: none;
  background-color: white;
  border-radius: 20px !important ;
  height: 135px;
}
.col {
  text-align: end;
}
.button {
  font-weight: bolder;
  font-size: large;
  color: rgb(168, 50, 7);
  height: 30px;
  padding-top: 0px;
  text-decoration: underline;
  font-style: italic;
}

.dropdownToggle:after {
  content: none !important;
  border: 0px !important;
}
.dropdownToggle:active {
  content: none !important;
  border: 0px !important;
}

.images {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.imagesCard {
  width: auto;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}
.imageModal {
  width: 150px;
  height: 150px;
}
.imageModal1 {
  width: 50px;
  height: 50px;
}
.aply {
  width: 150px;
  height: 150px;
  border: 2px rgb(226, 117, 15) solid;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
}
.textRow {
  /* margin: 0;
  padding: 0; */
  width: 100%;
  margin-left: 20px !important;
}
.icon {
  margin-top: 3px;
  margin-left: 5px;
}

.custab {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  height: 40px;
  border-bottom: 1px grey;
  color: rgb(63, 69, 95);
}

.custab:hover {
  box-shadow: 7px 7px 7px rgb(148, 148, 148);
  transition: 0.5s;
  cursor: pointer;
}

.cartblock1 {
  float: left;
  width: 100%;

  background: #fff;
  /* padding: 30px 20px; */
  text-align: center;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 0 0 28px;
}
.cartblock1 img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding-top: 0 !important;
  cursor: pointer;
}
.cartblock1 h3 {
  color: #2a2a2a;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 0;
  text-transform: uppercase;
}
.cartblock1 h3 {
  text-decoration: none;
  overflow: hidden;
  color: #2a2a2a;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cartblock1 h6 {
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.cartblock:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  border: 0;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.cartblock {
  height: 95%;
  float: left;
  width: 100%;
  background: #fff;
  /* padding: 30px 20px; */
  text-align: center;
  border: 2px solid #d5d5d5;
  /* margin: 0 0 28px; */
}
.cartblock img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding-top: 0 !important;
}
.cartblock h3 {
  color: #2a2a2a;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 0;
  text-transform: uppercase;
}
.cartblock h3 {
  text-decoration: none;
  overflow: hidden;
  color: #2a2a2a;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cartblock h6 {
  text-transform: uppercase;
  text-overflow: ellipsis;
  font-size: 12px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.cartblock h3:hover {
  color: #337ab7;
}
.cartblockp {
  color: #2a2a2a;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}
.cartblock .follow-us {
  margin: 20px 0 0;
}
.cartblock .follow-us li {
  display: inline-block;
  width: auto;
  margin: 0 5px;
}
.cartblock .follow-us li .fa {
  font-size: 24px;
  color: #767676;
}
.cartblock .follow-us li .fa:hover {
  color: #025a8e;
}

.users {
  height: 185px;
}

.pdf {
  right: 35px;
  top: 15px;
  width: 28px;
  height: auto;
  position: absolute;
  /* text-decoration: none; */
  border: none !important;
  color: #f76f36 !important;
  font-weight: bolder;
}

.pdf:hover {
  background-position: right center; /* change the direction of the change here */
  color: rgb(180, 117, 57) !important;
  text-decoration: none;
  font-weight: bolder;
}
.pdf:focus {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(63, 69, 95) !important;
  font-weight: bolder;
  font-size: 15px;
  background-image: linear-gradient(
    to right,
    #fcfcfc 0%,
    #ffffff 51%,
    #ffffff 100%
  );
}
.tabnav {
  color: rgb(63, 69, 95);
  background-color: transparent;
}
.tabnav a:focus {
  color: rgb(63, 69, 95);
  /* /* background-color: transparent; */
}

.aboutme {
  margin-right: 0;
  background: #fff;
  color: rgb(63, 69, 95);

  height: 213px;
  box-shadow: 3px 3px 3px 3px rgba(206, 206, 206, 0.938);
}

@media only screen and (max-width: 640px) {
  .custab {
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .img {
    margin-left: 35%;
    margin-left: auto;
    margin-right: auto;
  }
  .col {
    text-align: center !important;
  }
  .dropDown {
    height: 60vh;
  }
  .aplication {
    width: 200px !important;
  }
  .carts {
    display: flex;
    justify-content: space-around;
  }
  .imagesCard {
    width: auto;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  .aply {
    width: 90px;
    height: 130px;
  }
  .titleCard {
    font-size: 10px;
    color: rgb(247, 111, 54);
    font-weight: 700;
  }
  .textRow {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
  }
  .icon {
    font-size: 10px;
    margin-right: 2px;
  }
  .btngrad {
    font-size: 9px;
    padding: 2%;
  }
  .cartblock img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    padding-top: 0 !important;
  }
  .cartblock h3 {
    font-size: 10px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .cartblock h6 {
    font-size: 10px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .cartblock {
    height: 130px;
  }
  .users {
    height: 130px;
  }
  .tabnav {
    font-size: 10px !important;
  }
}
