.dropDown {
  outline: solid 2px red;
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

.text {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: coral;
  z-index: 100;
}
.dropDown::-webkit-scrollbar {
  display: none;
}

.card {
  display: flex !important;
  justify-content: space-around !important;
}

.company {
  padding: 0 !important;
  margin: 0 !important;
}
.about {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
