.myTabs {
  margin: 0 !important;
  padding: 0 !important;
}

.profile {
  height: 250px !important;
  width: 80%;
}

.basicInfo {
  text-align: center;
  margin: 20px 0 0 0;
}

.profileImage {
  display: flex;
  justify-content: center;
}

.profileSection {
  margin: 40px 0 0 0;

  display: grid;
  justify-content: center;
}

.edit {
  outline: solid 2px black;
  display: flex;
  margin-left: auto;

  margin-right: auto;
}

.modal {
  margin-left: auto;
  margin-right: auto;
}

.fullProfile {
  margin: 0;
  padding: 0;
}

.about {
  display: flex;
  justify-content: space-between;
}

.input {
  display: none;
}

.img {
  width: 70%;
  height: 70%;
  max-width: auto;
  border-radius: 10%;
}

.dropdownToggle:after {
  content: none !important;
  min-width: 50px !important;
  justify-content: right;
}

.experience {
  width: 90%;
}

.bgrow {
  background-color: #ad9e9e;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1696' height='848' viewBox='0 0 160 80'%3E%3Cg fill='%23786f72' fill-opacity='0.13'%3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
  border-radius: 5%;
}

.skills {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

.profile {
  /* outline: grey solid 2px; */
  height: 250px !important;
  width: 80%;
}
.header {
  display: flex;
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 20px !important;
  box-shadow: 5px 5px 5px 5px rgba(206, 206, 206, 0.938);
  background-image: url("https://res.cloudinary.com/dle6fzc1o/image/upload/v1605622564/backgroundimage/Untitled_design_2_okmnmp.png");
  background-size: cover;
}
.div {
  width: 80% !important;
  margin-left: auto !important;
  margin-right: auto !important;

  height: auto;
}

.titleAbout {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}
.about {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  outline: 2px solid red;
  height: auto;
}

.imgProfile {
  width: 150px;
  margin-bottom: 0 !important;
  margin-top: 15%;
  height: 140px;
  box-shadow: 3px 3px 3px rgba(226, 226, 226, 0.938);
}
.nameProfile {
  width: 150px;
  margin-bottom: 0 !important;
  margin-top: 75%;
}
.dataInfo {
  box-shadow: 3px 3px 3px 3px rgba(212, 212, 212, 0.938);
  background-color: white;
  height: 288px;
  color: rgb(63, 69, 95);
}
.dataInfo div {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  color: rgb(63, 69, 95);
  font-family: "Raleway", sans-serif;
  /* box-shadow: 3px 3px 3px 3px rgba(212, 212, 212, 0.938); */
}

.dataInfo div > h6 {
  margin-left: 10px;
}
.dataInfo div > svg {
  font-size: 18px;
}
.dataInfo div > svg:hover {
  cursor: pointer;
}
.dataInfo div > h6:hover {
  cursor: pointer;
}

.dataInfo div > h5:hover {
  cursor: pointer;
}

.btngrad {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: auto;

  color: #ff512f;
  font-weight: bolder;
  font-size: 15px;

  border: none;
}

.btngrad:hover {
  background-position: right center; /* change the direction of the change here */
  color: white;
  text-decoration: none;
  font-weight: bolder;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
}
.btngrad:focus {
  /* background-position: right center; /* change the direction of the change here */
  /* color: #fff;
    text-decoration: none; */
  border: none !important;
  color: white;
  font-weight: bolder;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  box-shadow: none;
}

.aboutMe {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;

  text-align: justify;
  font-family: "Raleway", sans-serif;
  /* -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; */
}
.dataAbout {
  box-shadow: 3px 3px 3px 3px rgba(212, 212, 212, 0.938);
  background-color: white;
  height: auto;
  color: rgb(63, 69, 95);
}
.dataAbout div {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  /* box-shadow: 3px 3px 3px 3px rgba(212, 212, 212, 0.938); */
}

.dataAbout div > h6 {
  margin-left: 10px;
}
.dataAbout div > svg {
  font-size: 18px;
}
.dataAbout div > svg:hover {
  cursor: pointer;
}
.dataAbout div > h6:hover {
  cursor: pointer;
}

.dataAbout div > h5:hover {
  cursor: pointer;
}
.input {
  display: none;
}
.uploadPhoto {
  /* margin-top: 105%; */
  /* margin-left: 5%; */
  margin-top: 80%;
  margin-left: 5%;
  color: black;
  z-index: 1000;
}
.icon {
  width: 25px;
  height: 25px;

  font-weight: bolder;
}
.textStyle div > h6 {
  font-family: "Mukta", sans-serif;
  font-weight: bold;
  margin-top: 5px;
}
.textStyle div > h5 {
  font-family: "Mukta", sans-serif;
  font-weight: bold;
  margin-top: 5px;
}
.myPosts {
  margin: 0 !important;
  padding: 0 !important;
}

.carts {
  box-shadow: 3px 3px 3px 3px rgba(212, 212, 212, 0.938);
  background-color: white;
  border-radius: 10px;
}
.aboutCarts {
  /* outline: solid 2px red; */
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.aboutCarts::-webkit-scrollbar {
  display: none;
}
.aboutCarts h6 {
  text-align: center;
}
.aboutCarts p {
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
}
.myPosts {
  margin: 0 !important;
  padding: 0 !important;
}
.salary {
  font-family: "Exo", sans-serif;
  color: #48546d;
}
.type {
  font-family: "Exo", sans-serif;
  color: #48546d;
}
.jobPosition {
  font-weight: bolder;
  font-family: "Mukta", sans-serif;
  color: #48546d;
}
.headTitle {
  font-family: "Mukta", sans-serif;

  color: #48546d;
}
.paragraphs {
  font-family: "Raleway", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  color: #48546d;
}
.icon {
  width: 25px;
  height: 25px;

  font-weight: bolder;
}
.textStyle div > h5 {
  font-family: "Mukta", sans-serif;
  font-weight: bold;
  margin-top: 5px;
}
.tabs {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.tabs1 {
  width: 77%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 768px) {
  .dataInfo {
    height: auto;
  }
  .tabs {
    width: 100%;
  }
  .profile {
    width: 100% !important;
  }
  .div {
    width: 100% !important;
  }
  .header {
    width: 100% !important;
  }
}
