.myPosts {
  margin: 0 !important;
  padding: 0 !important;
}

.carts {
  box-shadow: 3px 3px 3px 3px rgba(212, 212, 212, 0.938);
  background-color: white;
}
.about {
  /* outline: solid 2px red; */
  height: 330px;
  overflow-y: auto;
  overflow-x: hidden;
}
.about::-webkit-scrollbar {
  display: none;
}
.about h6 {
  text-align: center;
}
.about p {
  margin-left: 5px;
  margin-right: 5px;
}
