* {
  margin: 0;
  padding: 0;
}

.profile {
  /* outline: grey solid 2px; */
  height: 250px !important;
  width: 80%;
}
.header {
  display: flex;
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 20px !important;
  box-shadow: 5px 5px 5px 5px rgba(206, 206, 206, 0.938);
  background-image: url("https://res.cloudinary.com/dle6fzc1o/image/upload/v1605622564/backgroundimage/Untitled_design_2_okmnmp.png");
  background-size: cover;
}
.div {
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;

  height: auto;
}
.about {
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  outline: 2px solid red;
  height: auto;
}

.imgProfile {
  width: 150px;
  margin-bottom: 0 !important;
  margin-top: 15%;
  height: 140px;
  box-shadow: 3px 3px 3px rgba(226, 226, 226, 0.938);
}
.nameProfile {
  width: 150px;
  margin-bottom: 0 !important;
  margin-top: 75%;
}
.dataInfo {
  box-shadow: 3px 3px 3px 3px rgba(212, 212, 212, 0.938);
  background-color: white;
  height: 288px;
  color: rgb(63, 69, 95);
}
.dataInfo div {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  font-family: "Raleway", sans-serif;
  /* box-shadow: 3px 3px 3px 3px rgba(212, 212, 212, 0.938); */
}

.dataInfo div > h6 {
  margin-left: 10px;
}
.dataInfo div > svg {
  font-size: 18px;
}
.dataInfo div > svg:hover {
  cursor: pointer;
}
.dataInfo div > h6:hover {
  cursor: pointer;
}

.dataInfo div > h5:hover {
  cursor: pointer;
}

.btngrad {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: auto;
  color: #ff512f;
  font-weight: bolder;
  font-size: 15px;

  border: none;
}

.btngrad:hover {
  background-position: right center; /* change the direction of the change here */
  color: white;
  text-decoration: none;
  font-weight: bolder;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  cursor: pointer;
}
.btngrad:focus {
  /* background-position: right center; /* change the direction of the change here */
  /* color: #fff;
    text-decoration: none; */
  border: none !important;
  color: white;
  font-weight: bolder;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #f09819 51%,
    #ff512f 100%
  );
  box-shadow: none;
}

.aboutMe {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  text-align: justify;
  font-family: "Raleway", sans-serif;

  /* -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; */
}
.titleAbout {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}
.dataAbout {
  box-shadow: 3px 3px 3px 3px rgba(212, 212, 212, 0.938);
  background-color: white;
  height: auto;
  color: rgb(63, 69, 95);
}
.dataAbout div {
  display: flex;
  margin-left: 15px;
  margin-top: 15px;
  margin-right: 15px;
  /* box-shadow: 3px 3px 3px 3px rgba(212, 212, 212, 0.938); */
}

.dataAbout div > h6 {
  margin-left: 10px;
}
.dataAbout div > svg {
  font-size: 18px;
}
.dataAbout div > svg:hover {
  cursor: pointer;
}
.dataAbout div > h6:hover {
  cursor: pointer;
}

.dataAbout div > h5:hover {
  cursor: pointer;
}
.input {
  display: none;
}
.uploadPhoto {
  /* position: absolute; */
  /* margin: 90% 10% 0 0; */
  margin-top: 80%;
  margin-left: 5%;
  color: black;
  z-index: 1000;
}
.icon {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 5px;
  color: #ff512f;
  font-weight: bolder;
}

@media only screen and (max-width: 768px) {
  .dataInfo {
    height: auto;
  }
  .profile {
    width: 100% !important;
  }
  .div {
    width: 100%;
  }
  .header {
    width: 100%;
  }
}
